{% load static %}
<!doctype html>
<head>
  <img src="static/images/banner.png" width="1520" height="250">
    <title>Bienvenido</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="icon"href="{% static 'Logo_DiscoApp_ft.png' %}">
    
</head>

<html>
   <body class = 'bg-dark text-white' style="font-family: cursive;">
     <main>
        <div class="px-4 py-5 my-2 text-center">
            <h1 class="display-6 fw-bold">En esta página podrás subir, verificar y actualizar datos. </h1>
            <p class="fs-5">
              A continuación, encontraras una explicación de cada uno.
            </p>
        <!-- Descripciones y botones -->
        <div style='height: 550px; width: 320px; border: 0px; float: left; margin: 3em 0em 3em 10em; text-align: justify;'>
          <p class="fs-5">
            Descripción.
          </p><br>
          <div style="text-align: center;"><a href="{% url 'up' %}" class="btn btn-outline-new btn-lg px-4 gap-1">Subir Datos</a></div>
        </div>

        <div style='height: 550px; width: 320px; border: 0px; float: left; text-align: justify;margin: 3em 0em 3em 7em'>
          <p class="fs-5">
            Descripción.
          </p><br>
          <div style="text-align: center;"><a href="{% url 'verify' %}" class="btn btn-outline-new btn-lg px-4 gap-2">Verificar Datos</a></div>
        </div>

        <div style='height: 550px; width: 320px; border: 0px; float: left;margin: 3em 0em 3em 7em; text-align: justify;'>
          <p class="fs-5">
            Descripción.
         </p><br>
         <div style="text-align: center;"><a href="{% url 'update' %}" class="btn btn-outline-new btn-lg px-4 gap-3">Actualizar Datos</a></div>
        </div>
        </div>
     </main>      
   </body>
</html>
