{% load static %}
<!doctype html>
<head>
  <img src="static/images/banner.png" width="1520" height="250">
    <title>Bienvenido</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="icon"href="{% static 'Logo_DiscoApp_ft.png' %}">
    
</head>

<html>

  <style>


    h1 {
      text-align: center;
      font-size: 40px;
      font-family: cursive;
      color: #fdfdfe;
     }

     h2 {
      text-align: center;
      font-size: 25px;
      font-family: cursive;
      color: #a4a4f6;
     }

     h3 {
      text-align: center;
      font-size: 20px;
      font-family: cursive;
      color: #fdfdfe;
     }

     h4 {
      text-align: justify;
      font-size: 20px;
      font-family: cursive;
      color: #fdfdfe;
     }

     h5 {
      text-align: Left;
      font-size: 17px;
      font-family: cursive;
      color: #c9c9ee;
     }

  </style>

  <body class = 'bg-dark text-white'>
     <main>
        <div class="px-4 py-3 my-2 text-center">
            <h1>Actualizar datos. </h1><br>
            <h3>
              En esta página puedes actualizar los datos de tu aplicación de acuerdo con la acción que deseas realizar.
            </h3>
          <!-- Instrucciones -->
          <!-- Opción 1 -->
          <div style='height: 520px; width: 340px; border: 0px; float: left; margin: 5em 0em 0em 7em; text-align: left;'>
            <h2>
              Opción 1: 
            </h2>
            <h3>Agregar nuevos datos</h3><br>
            <h4>Ingresa a continuación el nombre y el precio del producto en los espacios correspondientes. Luego haz click en agregar.</h4><br>
            <h3>
              <form method="post" action="add">
                {% csrf_token %}
                <h5>Nombre del producto:</h5>
                <input type="text" class="form-control" id = "product_name1" name = "product_name1"><br>
                <h5>Precio:</h5>
                <input type="number" class="form-control" id = "product_price1" name = "product_price1"><br>
                <button type="submit" class="btn btn-outline-light btn-lg px-4 gap-3">Agregar</button>
              </form>
            </h3>
          </div>
          <!-- Opción 2 -->
          <div style='height: 520px; width: 340px; border: 0px; float: left; text-align: left ;margin: 5em 7em 0em 7em'>
            <h2>
              Opción 2: 
            </h2>
            <h3>Modificar datos</h3><br>
            <h4>Escribe el nombre y el nuevo precio del producto que quieres modificar. Después, presiona el botón modificar.</h4><br>
            <h3>
              <form method="post" action="modify">
                {% csrf_token %}
                <h5>Nombre del producto:</h5>
                <input type="text" class="form-control" id = "product_name2" name = "product_name2"><br>
                <h5>Precio:</h5>
                <input type="number" class="form-control" id = "product_price2" name = "product_price2"><br>
                <button type="submit" class="btn btn-outline-light btn-lg px-4 gap-3">Modificar</button>
              </form>
            </h3>
          </div>
          <!-- Opción 3 -->
          <div style='height: 520px; width: 340px; border: 0px; float: left;margin: 5em 7em 0em 0em; text-align: left;'>
            <h2>
              Opción 3: 
            </h2>
            <h3>Eliminar datos</h3><br>
            <h4>Ingresa el nombre del producto que quieres borrar de la base de datos. Al final, haz click en el botón eliminar.</h4><br>
            <h3>
              <form method="post" action="delete">
                {% csrf_token %}
                <h5>Nombre del producto:</h5>
                <input type="text" class="form-control" id = "product_name3" name = "product_name3"><br>
                <button type="submit" class="btn btn-outline-light btn-lg px-4 gap-3">Eliminar</button>
              </form>
            </h3>
          </div>
        </div>
      </main>      
  </body>
</html>
