{% load static %}
<!doctype html>
<head>
  <img src="static/images/banner.png" width="1520" height="250">
    <title>Bienvenido</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="icon"href="{% static 'Logo_DiscoApp_ft.png' %}">
    
</head>

<html>
  <body class = 'bg-dark text-white'>
    <a href="{% url 'home' %}" class="btn btn-outline-new btn-lg px-4 gap-2">Volver a inicio</a>    
      <main>
        <div style="text-align:center;">
        <table style="margin: 0 auto;">
          <tr>
            <th>Nombre</th>
            <th>Precio</th>
          </tr>
          {%for p in prod%}
          <tr>
            <td>{{p.0}}
            </td>
            <td>{{p.1}}</td>
          </tr>
          {%endfor%}
        </table>
        </div>
      </main>  
  </body>
</html>